
<div class="container">
    <div class="section">
    <div class="card">
        <h3 class="card-header" id="monthAndYear">{{model.year}} - {{model.weekDay}}, {{model.month}} {{model.currentDate}}</h3>
        <table class="table" id="calendar">
            <thead>
                <tr>
                    <th>time</th>
                    <th>Tue {{model.datesToShow.[0]}}th</th>
                    <th>Wed {{model.datesToShow.[1]}}th</th>
                    <th>Thu {{model.datesToShow.[2]}}th</th>        
                </tr>
            </thead>
            <tbody id="calendar-body">
               <tr>
                   <td>16:00 - 17:00</td>
                    {{#if model.cellInfo}}
                            <td>{{model.cellInfo.[0].[0]}}</td>
                            <td>{{model.cellInfo.[1].[0]}}</td>
                            <td>{{model.cellInfo.[2].[0]}}</td>
                    {{/if}}
               </tr>
               <tr>
                    <td>17:00 - 18:00</td>
                    {{#if model.cellInfo}}
                            <td>{{model.cellInfo.[0].[1]}}</td>
                            <td>{{model.cellInfo.[1].[1]}}</td>
                            <td>{{model.cellInfo.[2].[1]}}</td>
                    {{/if}}
                   
               </tr>
               <tr>
                   <td>18:00 - 19:00</td>
                    {{#if model.cellInfo}}
                            <td>{{model.cellInfo.[0].[2]}}</td>
                            <td>{{model.cellInfo.[1].[2]}}</td>
                            <td>{{model.cellInfo.[2].[2]}}</td>
                    {{/if}}
                    
               </tr>

               <tr>
                   <td>19:00 - 20:00</td>
                    {{#if model.cellInfo}}
                            <td>{{model.cellInfo.[0].[3]}}</td>
                            <td>{{model.cellInfo.[1].[3]}}</td>
                            <td>{{model.cellInfo.[2].[3]}}</td>
                    {{/if}}
                   
               </tr>
            </tbody>
        </table>
        <form action="/booking/next" method="post" class="form-inline">

            <button class="btn btn-outline-primary col-sm-6" type="submit" name="date"value={{model.datesToShow.[0]}}>Previous</button>

            <button class="btn btn-outline-primary col-sm-6" type="submit" name="date" value={{model.datesToShow.[0]}}>Next</button>
        </form>
        
    </div>
    </div>
</div>



